/* TYPO */
@font-face {
  font-family: "Hanken Grotesk";
  src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.woff2)
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* medium */
@font-face {
  font-family: "Hanken Grotesk";
  src: url(../assets/fonts/static/HankenGrotesk-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* bold */
@font-face {
  font-family: "Hanken Grotesk";
  src: url(../assets/fonts/static/HankenGrotesk-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* extra bold */
@font-face {
  font-family: "Hanken Grotesk";
  src: url(../assets/fonts/static/HankenGrotesk-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
