/* /////    INITIAL RULES    */

html {
  font-family: "Hanken Grotesk";
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

/* BODY */
/* The body will serve as the background of the result-summary-card */
body {
  /* Occupies the full viewport */
  min-width: 320px;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--pale-blue);
}

/* FOOTER */
.attribution {
  /* typo */
  font-size: 0.5em;
  text-align: center;
  /* arrange content */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  padding-left: 3px;
}
