/* /////    INITIAL RULES    */

html {
  font-family: "Hanken Grotesk";
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

/* BODY */
/* The body will serve as the background of the result-summary-card */
body {
  /* Occupies the full viewport */
  min-width: 320px;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--pale-blue);
}
.result-summary-card {
  background-color: var(--white);
  /* used the light lavender color for shadow */
  box-shadow: 0px 0.5em 1em 1px hsla(241, 100%, 89%, 0.5);
  container-type: inline-size;
}

/* FOOTER */
.attribution {
  /* typo */
  font-size: 14px;
  text-align: center;
  /* arrange content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em 1em;
}
.attribution {
  p {
    margin: 0;
  }
  a {
    color: hsl(228, 45%, 44%);
    padding-left: 3px;
  }
}
