/* /////     SMALLEST MOBILE SCREEN      */

/* COMPONENTS */
.component {
  /* arrange content,
    removes margin collapse */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em 1.5em;
}
.component {
  /* typo */
  h2 {
    font-size: 0.9em;
  }
  p {
    font-size: 0.7em;
  }
}

/* RESULT COMPONENT */
.result {
  height: 100vh;

  /* background style */
  background-image: linear-gradient(
    to bottom,
    var(--light-slate-blue) 0%,
    var(--light-royal-blue) 70%
  );
  /* background fallback */
  background-color: var(--light-slate-blue);

  /* text color */
  color: var(--white);
}
.result {
  /* text tags */
  h2 {
    /* margin: 0; */
    opacity: 0.8;
  }
  p {
    /* margin: 0; */
    opacity: 0.75;
  }
  strong {
    display: block;
    margin-top: 1em;
  }

  /* center analysis texts */
  .result-analysis-container > * {
    text-align: center;
  }
}

/* OUTPUT */
.output-circle {
  /* center contents */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background style */
  background-image: linear-gradient(
    to bottom,
    var(--violet-blue) 0%,
    var(--light-royal-blue) 70%
  );
  /* fallback background */
  background-color: var(--violet-blue);

  /* make into a circle */
  border-radius: 50%;
  aspect-ratio: 1/1;
  padding: 1em;

  /* Fill available space for a circle.
  Max values set to retain a circular form inside its parent box. */
  flex: 1;
  max-width: calc(100vw - 2em - 2em - 0.5em);
  max-height: calc(100vw - 2em - 2em - 0.5em);
}

/* Make the result output data rating responsive to the parent circle container's size */
.output-circle {
  container-type: inline-size;
}
.output-circle > data {
  font-size: clamp(2em, 50cqw, 10em);
  /* font-size: calc(0.3 * (100vw - 2em - 2em - 0.5em)); */
}

/*  SUMMARY COMPONENT */
.summary {
  height: 100vh;
}
