/* MODERN MOBILE DEVICES */

@media screen and (min-height: 568px) {
  /* RESULT SUMMARY CARD */
  .result-summary-card {
    /* the Result and Summary component will show in one full viewport */
    /* height: 100vh; */

    display: flex;
    flex-direction: column;
  }

  /* RESULT COMPONENT */
  .result {
    /* box */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 1.5em 3em 3em;
    height: auto;

    .output-circle {
      flex-basis: 50cqmin;
    }
    h3 {
      font-size: 1.5em;
    }
  }

  /* SUMMARY COMPONENT */
  .summary {
    /* box */
    height: auto;
  }
}

@media screen and (min-height: 840px) {
  /* RESULT SUMMARY CARD */
  .result-summary-card {
    /* the Result and Summary component will show in one full viewport */
    height: 100vh;

    display: flex;
    flex-direction: column;
  }

  /* RESULT COMPONENT */
  .result {
    /* box */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 1.5em 3em 3em;
    height: auto;

    .output-circle {
      flex-basis: 50cqmin;
    }
    h3 {
      font-size: 1.5em;
    }
  }

  /* SUMMARY COMPONENT */
  .summary {
    /* box */
    flex: 1;
  }
}
