/* IMPORTS */
@import url(./result.css);
@import url(./summary.css);
@import url(./font.css);

/* VARIABLES */
:root {
  /* neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  /* background */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  /* circle */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  /* summary list primary */
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
}

/* INITIAL RULE */
html {
  font-size: 18px;
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* box */
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* typo */
  font-family: "Hanken Grotesk";
  font-weight: normal;
  /* style */
  background-color: var(--pale-blue);
}

/* CARD */
.result-summary-card {
  /* layout */
  display: flex;
  /* styling */
  border-radius: 25px;
  background-color: var(--white);
}
/* card components */
.component {
  /* box */
  width: 300px;
  /* layout */
  display: flex;
  flex-direction: column;
}
/* component headings */
.component > h2 {
  font-size: 1rem;
}
