/* SUMMARY COMPONENT */
.summary {
  /* box */
  padding: 2rem;
  /* text color */
  color: var(--dark-gray-blue);
  /* arrange content */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* list container */
.list {
  /* remove native styles */
  list-style: none;
  margin: 0;
  padding: 0;
  /* arrange content */
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

/* summary items */
.list-item {
  /* arrange content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box */
  padding: 0.7rem;
  border-radius: 0.5rem;
}

/* summary labels */
.summary-label,
.summary-output {
  /* arrange content */
  display: flex;
  gap: 0.5rem;
  /* typo */
  font-size: 0.8rem;
  font-weight: 500;
}
/* icons */
.summary-label > img {
  aspect-ratio: 1;
  height: 1rem;
}

/* summary list containers */
.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}
.memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}
.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}
.visual {
  background-color: hsla(234, 85%, 45%, 0.1);
}

/* summary labels */
.reaction p {
  color: var(--light-red);
}
.memory p {
  color: var(--orange-yellow);
}
.verbal p {
  color: var(--green-teal);
}
.visual p {
  color: var(--cobalt-blue);
}

/* summary output */
.summary-output {
  font-weight: 700;
}
.summary-output > span {
  color: hsla(224, 30%, 27%, 0.5);
}

/* button */
.summary > button {
  /* remove native styles */
  all: unset;
  /* styles */
  background-color: var(--dark-gray-blue);
  color: var(--white);
  height: 2.3rem;
  border-radius: 25px;
  text-align: center;
  /* typo */
  font-size: 0.8rem;
  font-weight: 500;
}
