/*  SUMMARY COMPONENT */
.summary {
  background-color: var(--white);
}
.summary {
  h2 {
    /* arrange summary heading */
    align-self: flex-start;
  }

  ul {
    /* remove native styles of list */
    list-style-type: none;
    margin: 0;
    padding: 0;

    /* box */
    width: 100%;

    /* fill free space as a flex item */
    flex-grow: 1;

    /* arrange contents */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5em;
  }

  .list-item {
    /* box */
    width: 100%;
    /* height: 2.5em; */
    padding: 1em;
    border-radius: 0.5em;

    /* arrange contents */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* sumarry list items */
.list-item {
  /* list label and output */
  label,
  output {
    /* arrange content */
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
}

/* summary list containers */
.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
  p {
    color: var(--light-red);
  }
}
.memory {
  background-color: hsla(39, 100%, 56%, 0.1);
  p {
    color: var(--orange-yellow);
  }
}
.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
  p {
    color: var(--green-teal);
  }
}
.visual {
  background-color: hsla(234, 85%, 45%, 0.1);
  p {
    color: var(--cobalt-blue);
  }
}

/* summary output */
.summary-output {
  font-weight: 700;
  span {
    color: hsla(224, 30%, 27%, 0.5);
  }
}

/* button */
button {
  /* remove native styles */
  all: unset;

  /* box styles */
  box-sizing: border-box;
  width: 100%;
  background-color: var(--dark-gray-blue);
  /* height: 2.5em; */
  padding: 0.75em;
  border-radius: 25px;
  text-align: center;

  /* typo */
  font-weight: 500;
  color: var(--white);

  /* on hover */
  &:hover {
    cursor: pointer;
    background-image: linear-gradient(
      to bottom,
      var(--light-slate-blue),
      10%,
      var(--light-royal-blue)
    );
  }
}
